body {
    font-family: sans-serif;
}

.container {
    width: 1280px;
    margin: 0 auto;
}

.heading{
    color: #000;
    text-align: left;
    font-size: 80px;
    margin: 60px 0;
}

.color-text{
    color: #4bcaff;
}

.top-menu{
    background-color: #35444f;
    margin-bottom: 50px;
    text-align: center;
}

.top-menu-item{
    font-size:25px ;
    display: inline-block;
}

.top-menu-item-link {
    color: #ffffff;
    display: inline-block;
    padding: 25px 40px;
    transition: 0.3s all ease-in-out;
}

.top-menu-item-link:hover{
    background: #222f3a;
    color: #f0f;
}

.content-article {
    width: 70%;
    display: inline-block;
    text-align: right;
    vertical-align: top;
}

.top-img-wrapper {
    /*float: right;*/
    display: inline-block;
    border: 2px solid black;
    margin-left: 20px;
}

.top-img {
    margin: 75px 250px;
}

.left-menu {
    /*float: left;*/
    vertical-align: top;
    width: 29%;
    font-size:27px ;
    display: inline-block;
    border: 2px solid black;
}

.left-menu-item-link {
    color: #485863;
    margin-left: 45px;
    transition: 0.3s all ease-in-out;
}

.left-menu-item {
    padding: 20px 0;
    transition: 0.3s all ease-in-out;
}

.left-menu-item:hover{
    background: #dcdcdc;
}

.left-menu-item:hover .left-menu-item-link {
    color: #f0f;
    margin-left: 70px;
}

.main-content-text {
    font-size: 18px;
    text-align: left;
    line-height: 1.5;
    margin: 20px 40px 20px 110px;
}

.footer-conteiner {
    margin-top: 30px;
    width: 1280px;
    background-color: #b5b8bb;
    display: inline-block;
}


.footer-menu-item {
    font-size: 28px;
    font-weight: 400;
    display: inline-block;
}

.footer-menu-item-text {
    font-size: 24px;
    font-weight: 400;
    display: inline-block;
    padding-left: 150px;
    text-align: right;
}

.footer-menu-item-link {
    color:  #0c1927;
    font-size: 25px;
    font-weight: 400;
    display: inline-block;
    transition: 0.3s all ease-in-out;
    padding: 30px 0 30px 30px;
    text-align: left;
}
.footer-menu-item-link:hover {
    color:#3181a6 ;
    text-decoration: underline;
}

/*.clearfix:after {*/
    /*content: '';*/
    /*display: table;*/
    /*clear: both;*/
/*}*/